<tr class="x-transaction x-user-id-<%= transaction.user.id %>">
  <td class="col-lg-1">
    <%= image_tag "avatars/#{[transaction_counter.succ, 3].min}.png", size: '100x100' %>
  </td>
  <td>
    <h4><%= transaction.user.name %></h4>
    <div class="person-labels">
      <span class="label label-success">Znajomy z Facebooka</span>
      <span class="label label-success">W tym samym miejscu</span>
      <span class="label label-success">Współpracownik</span>
    </div>

    <br>
    <p>STAUTS: <%= I18n.t(transaction.status, scope: :status) %></p>
  </td>

  <% if transaction.status == 'FRIEND_FOUND'  %>
    <td>
      <div class='x-transaction-link hide'>
      <%= select_tag "assigner_qi", options_for_select(OrderItem.all.map{ |item| [item.name, item.id, { 'data-url' => assing_order_item_path(client_id: transaction.user.id, order_item_id: item.id) }] }), prompt: 'Wybierz produkt', class: 'x-transaction-select' %>
      </div>
      <h4 class="x-transaction-name"></h4>
    </td>
  <% else %>
    <td><h4 class="x-transaction-name"><%= transaction.name %></h4></td>
  <% end %>
  <td>
    <h4 class="x-transaction-amount"><%= transaction.amount %> PLN</h4>
  </td>

</tr>
