<div class='x-main-container'>
<% if @contract.transactions.any? && @contract.transactions.all? { |t| t.status == 'PAID' } %>
  <%= render partial: 'contracts/elements/sucess', locals: { contract: @contract } %>
<% else %>

  <%= render partial: 'contracts/elements/header', locals: { contract: @contract } %>

  <div class="responsive-table transaction-details x-table-container">
    <% if @contract.transactions.any? %>
        <%= render partial: 'contracts/elements/split', locals: { contract: @contract } %>

        <%= render partial: 'contracts/elements/items', locals: { contract: @contract } %>

        <%= render partial: 'contracts/elements/friends', locals: { contract: @contract } %>
    <% else %>

      <%= render 'contracts/elements/owner' %>

      <%= render 'contracts/elements/details' %>

      <%= render 'contracts/elements/payment_data' %>

      <%= render partial: 'contracts/elements/items', locals: { contract: @contract } %>
    <% end %>
  </div>

  <br>

  <div class="pull-right x-buttons">
    <%= render partial: 'contracts/elements/buttons', locals: { contract: @contract } %>
  </div>
<% end %>
</div>

