<%= render partial: 'contracts/elements/header', locals: { contract: @contract } %>

<div class="x-split-container"></div>

<div class="responsive-table x-table-container">
  <% if @contract.transactions.any? %>

    <%= render partial: 'contracts/elements/split', locals: { contract: @contract } %>

    <hr>

    <%= render partial: 'contracts/elements/friends', locals: { contract: @contract } %>

  <% else %>

    <%= render 'contracts/elements/owner' %>

    <%= render 'contracts/elements/details' %>

    <%= render 'contracts/elements/payment_data' %>

    <%= render 'contracts/elements/items' %>

  <div class="pull-right">
    <%= link_to 'Anuluj', contracts_path, class: 'btn btn-default btn-lg' %>

    <button type="button" class="btn btn-primary btn-lg">Zapłać</button>

    <%= link_to 'Podziel',
      transactions_path, method: :post, remote: true, class: 'x-call-transactions btn btn-success btn-lg' %>
  </div>
  <% end %>
</div>
