<div class="invoice-v1-header">
  <div class="row">
    <div class="col-lg-3">
      <p>Numer</p>
      <p><strong>12/32/2017</strong></p>
    </div>

    <div class="col-lg-3">
      <p>Data utworzenia</p>
      <p><strong><%= I18n.l @contract.created_at, format: :polish %></strong></p>
    </div>

    <div class="col-lg-3">
      <p>Ważność</p>
      <p><strong>10 minut</strong></p>
    </div>

    <div class="col-lg-3">
      <p>Status</p>
      <p><strong><%= @contract.status %></strong></p>
    </div>
  </div>
</div>
<hr>

<div class="responsive-table">
  <%= render 'contracts/elements/owner' %>

  <%= render 'contracts/elements/details' %>

  <%= render 'contracts/elements/payment_data' %>

  <%= render 'contracts/elements/items' %>

  <%= render 'contracts/elements/friends' %>
</div>

<%# temp %>
<% tr = Transaction.find_by_name('Pizza') %>
<% if tr && tr.status == 'FRIEND_FOUND'  %>

<%   client = User.find_by_name('Marcin')
     order_item = OrderItem.find_by_name('Pizza')
  %>
<%= link_to 'Przypisz Pizze do Marcina', assing_order_item_path(client_id: client.id, order_item_id: order_item.id), method: :post %>
<% end %>
